<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>応援サイト</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-title">応援サイト</div>
            </div>
            <div class="clear"></div>
        </header>
        <main>
            <div class="container">
                <h1 class="message">
                    {{name}}なら大丈夫！！
                </h1>
                <h1 class="message">
                    自分を信じて突き進め！！
                </h1>
                <h1 class="message">
                    頑張れ！！！{{name}}！！！
                </h1>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer-title">
                    <h1>フィーバータイム第一週</h1>
                </div>
            </div>
        </footer>
    </body>
</html>