<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>応援サイト</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-title">応援サイト</div>
            </div>
            <div class="clear"></div>
        </header>
        <main>
            <div class="container">
                <div class="explanation">
                    <h1>あなただけのための応援メッセージを生成します</h1>
                    <p>当サイト製作者にはセキュリティの知識が一切ございません。</p>
                    <p>決して個人情報を入力しないでください。</p>
                </div>
                <div class="input-name">
                    <p>「{{name}}」でよろしいですか？</p>
                    <form action="{{url_for('index')}}" class="forms">
                        <input type="submit" value="やり直す" class="btn rewrite">
                    </form>
                    <form method="post" action="{{url_for('cheer')}}" class="forms">
                        <input type="submit" value="オッケー" class="btn ok">
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer-title">
                    <h1>フィーバータイム第一週</h1>
                </div>
            </div>
        </footer>
    </body>
</html>